node_modules
dist
.git
.env
coverage
test
npm-debug.log
yarn-error.log
.DS_Store

# Backend specific
backend/node_modules
backend/dist
backend/.env
backend/coverage
backend/test
backend/npm-debug.log
backend/yarn-error.log
backend/.DS_Store

# Explicitly allow tsconfig and nest-cli
!backend/tsconfig.json
!backend/nest-cli.json
