# --- Base de Datos (Postgres en Docker Local) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cronos_dev

# --- Configuración Backend ---
PORT=3000
NODE_ENV=development
TZ=America/Bogota

# --- Conexión Interna (Docker) ---
DB_HOST=db
DB_PORT=5432
DB_SSL=false
DB_SYNC=true

# --- Seguridad ---
JWT_SECRET=secreto_desarrollo_local
SESSION_SECRET=secreto_session_local

# --- Super Admin Inicial ---
ADMIN_EMAIL=admin@copower.com
ADMIN_PASSWORD=admin
